body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  position: relative;
  height: 100%;
}

.leaflet-popup-content {
  text-align: center;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
}

.legend {
  line-height: 25px;
  color: #555;
  background: white;
}

.legend i {
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}