{% extends "base.html" %}
{% block title %}Analysis{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
{% endblock %}

{% block content %}
  <h2>2021 & 2022 Graphs</h2>
  <select id="selDataset" onchange="optionChanged(this.value)">
      <option value="Trip Count Analysis">Trip Count Analysis</option>
      <option value="Average Trip Duration Analysis">Average Trip Duration Analysis</option>
  </select>
  <div id="plot"></div>
  <div id="plot2"></div>
  <div id="plot3"></div>
  <script>const url = "{{url_for('summary')}}";</script>
  <script src="{{url_for('static', filename='js/bst-charts.js')}}" async></script>
{% endblock %}