{% extends "base.html" %}
{% block title %}Overview{% endblock %}

{% block content %}
  <div class="tab-content active" id="home">
    <h2 style="color: rgb(6, 4, 4); font-weight: bold; font-size: 45px;">Overview</h2>
    <p>The aim of our project is to see how the biking system in Toronto can be improved, the key differences of casual and annual members, and what story do the bike stations tell. We’ll examine relationships between the bike locations, paths each bike takes, the duration of usage, type of membership, etc.</p>
  </div>
  <div class="tab-content" id="analysis"></div>
  <div class="tab-content" id="map"></div>
{% endblock %}
{% block footer %}
  <p style="font-weight: bold; font-size: 24px;">Collaborators</p>
  <p style="line-height: 2;"> Carly Yiao, Gustavo Pires, Richard Gu, Tina Saravi, Varun Vinodh</p>
{% endblock %}